.row {
    width: 100%;
    float: left;
    padding: 0px 100px;
}

.row-top {
    width: 100%;
}

.row-top__content {
    width: 100%;
    background-image: url(../img/Tog_og_mobil.png);
    height: calc(100vh - 100px);    
    background-repeat: repeat-x;    
    padding: 0px 100px;
    background-size: auto 100%;
    background-position: center;
}

.row-top__text-container{
    width: 50%;
    float: left;
    padding: 50px  
}

.row-top__image-container {
    width: 50%;
    float: right;
    display: none;
}

.row-top__car-train-image-container{
    width: 100%;
    display: none;
}

.row-top__down-arrow{
    background-color: hotpink;
    height: 50px;
}

.text-container {
    width: 50%;
    float: right;
    padding: 100px 0px 100px 50px;
}

.text-container--float-left {
    float: left;
    padding: 100px 50px 100px 0px;
}


.text-container__header {
    font-family:  Arial, Helvetica, sans-serif;
}

.text-container__header--center {
    text-align: center;
    
}

.text-container__paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

.text-container__paragraph--center {
    text-align: center;
}

.text-container__button {
    border-radius: 30px;
    text-align: center;
    background: rgb(230, 0, 0);
    box-shadow: 3px 3px 6px 0px black;
    padding: 20px;
    width: 210px;
    height: 60px;
    color: white;
    font-family: lato-bold, Arial, Helvetica, sans-serif;
}

.text-container__button--center {
    
    margin: auto;
}

.image-container {
    width: 50%;
    float: left;
    padding: 100px 50px 100px 0px;
}


.image-container__image--border-shadow {
    border: 2px solid rgb(230, 0, 0);
    box-shadow: 3px 3px 6px 0px black;
}




.row-top__down-arrow {
    width: 100%;
    float: left;
}