.row-top {
    float: left;
}

.row-top__content {
    width: 100%;
    float: left;
}

.text-container {
    width: 50%;
    float: right;
    padding: 50px
}

.text-container--left {
    float: left;
}

.text-container__header {
    font-family: Arial, Helvetica, sans-serif;
}

.text-container__header--center {
    text-align: center;
}

.text-container__paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

.text-container__paragraph--center {
    text-align: center;
}

.text-container__button {
    border-radius: 25px;
    background: rgb(230, 0, 0);
    padding: 20px;
    width: 210px;
    height: 60px;
    color: white;
}

.text-container__button--center {
    text-align: center;
}

.image-container {
    width: 50%;
    float: left;
    border: 2px solid rgb(230, 0, 0);
    box-shadow: 0 4px 8px 0;
}

.image-container--border-shadow {
    border: 2px solid rgb(230, 0, 0);
    box-shadow: 0 4px 8px 0;
}

.image-container--right {
    float: right;
}

.image-container--full-width {
    width: 100%;
}

.row-top__down-arrow {
    width: 100%;
    float: left;
}

.row {
    width: 100%;
    float: left;
}