.image-container-minipods {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    background-color: #e8f9fb;
    width: 160px;
    height: 150px;
    box-shadow: #e8f9fb;
}

.image-container-container-minipods {
    display: inline-block;
    margin-top: 6%;
    margin-left: 4%;
}

@media only screen and (max-width: 1400px) {
    .image-container-container-minipods {
        margin-left: 9%;
    }

    @media only screen and (max-width: 990px) {
        .image-container-container-minipods {
            width: 40%;
        }

        .image-container-minipods {
            margin-left: 25%;
        }
    }

    @media only screen and (max-width: 620px) {
        .image-container-container-minipods {
            display: inline-block;
            width: 50%;
        }
    }

    @media only screen and (max-width: 720px) {
        .image-container-container-minipods {
            margin-top: 10%;
        }
    }

    @media only screen and (max-width: 530px) {
        .image-container-container-minipods {
            margin-top: 15%;
        }
    }
}
