
.row-top__wheel-image{
width: 50%;
float: right;
}

.text-container--left{
    float: left;
}

.image-container--right{
    float: right
}

.image-container__pie{

}

.image-container__text{

}

.background-image-container{
   
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-container--bilko{
    background-image: url(../img/Bilkø.png);
}

.background-image-container-city{
    background-image: url(../img/Bybilde.png);
}