.sup {
    vertical-align: super;
    font-size: smaller;
}

.image-container__red-circle{

}

.image-container__text{

}

.background-image-container{
   
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-container--bilko{
    background-image: url(../img/Bilkø.png);
}

.background-image-container-city{
    background-image: url(../img/Bybilde.png);
}