/* Fonts from https://fonts.google.com/specimen/Lato#standard-styles */

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: lato-regular, Arial, Helvetica, sans-serif;
    overflow: auto;
}

h1 {
    /* backup 60px */
    font-size: 60px;
    /* Den minste verdien av disse for å støtte både høye og brede skjermer */
    font-size: min(8.7vh, 8.7vw);
    font-weight: 800;
    line-height: 1.1;
}

h2 {
    margin-top: 0;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.1;
}

img {
    width: 100%;
}

main {
    margin-top: 50px;
}

.top_p {
    /* backup 20px */
    font-size: 20px;
    /* Den minste verdien av disse for å støtte både høye og brede skjermer */
    font-size: min(2.9vh, 2.9vw);
}

.top_p--white-background {
    background: white;
}

a.ref_links:target {
    height: 120px;
    margin-top: -120px;
}

.sup {
    vertical-align: super;
    font-size: smaller;
}

.header {
    background-color: white;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header--blue {
    background-color: #e8f9fb;
}

.header__logo {
    width: 100px;
    float: left;
    margin-top: 1%;
    margin-left: 8%;

}

.header__sdg-button {
    float: right;
    margin: 14px 16px;
    border-radius: 30px;
    text-align: center;
    background: rgb(230, 0, 0);
    box-shadow: 3px 3px 6px 0px #bbbbbb;
    padding: 2px;
    width: 75px;
    font-size: 14px;
    height: 21px;
    font-family: lato-regular, Arial, Helvetica, sans-serif;
    display: block;
    white-space: nowrap;
    text-decoration: none;
}

.header__sdg-button:link {
    color: white;
}

.header__sdg-button:visited {
    color: white;
}

.header__sdg-button:hover {
    box-shadow: 4px 4px 7px 0px #bbbbbb;
    color: white;
    background: rgb(238, 0, 0);
}

.header__sdg-button:active {
    color: hotpink;
}

.header__sdg-button__text {
    vertical-align: 3px;
}

.header__sdg-button__image {
    height: 16px;
    width: 16px;
}

.header__link-container {
    text-align: center;
    margin-right: 75px;
}

.header__link {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.header__link:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header__link:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.header__link:hover {
    background-color: transparent;
    color: rgb(228, 0, 0);
}

.header__link:active {
    color: rgb(153, 0, 0);
    background-color: transparent;
}

.header__link--current:link {
    text-decoration: underline;
}

.row {
    width: 100%;
    padding: 50px 100px;
    overflow: hidden;
}

.row--blue {
    background-color: rgb(232, 249, 251);
}

.row-top {
    width: 100%;
}

.row--minipod {
    padding-top: 0;
    horiz-align: center;
}

.row-top__content {
    height: calc(100vh - 100px);
    padding: 0px 100px;
}

.row-top__content--home {
    width: 100%;
    background-image: url(../img/Tog_og_mobil.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
}

.row-top__car-train-image-container {
    width: 100%;
    display: none;
}

.row-top--blue {
    background-color: rgb(232, 249, 251);
}

.row-top__right-image-container {
    width: 50%;
    height: 100%;
    float: right;
}

.row-top__right-image-container__image {
    object-fit: contain;
    height: 100%;
}

.reference {
    background-color: #e8f9fb;
    margin: 10px 25%;
    padding: 10px;
}

.reference__header {
    margin: 10px 25%;
}

.number-blob {
    float: left;
    font-family: proxima-nova-condensed, Arial, Helvetica, sans-serif;
    font-size: 21px;
    border-radius: 30px;
    text-align: center;
    background: rgb(230, 0, 0);
    padding: 6px 10px;
    margin-right: 5px;
    color: white;
    margin-top: -4px;
    width: 40px;
}

.text-container {
    width: 50%;
    float: right;
    padding: 0px 0px 0px 50px;
}

.text-container--center {
    margin: 0 auto;
    text-align: center;
    float: none;
    padding: 0;
}

.text-container--left {
    float: left;
    padding: 0px 50px 0px 0px;
}

.text-container--top {
    float: left;
    padding: 45px 50px 0px 0px;
    z-index: 1;
}

.text-container--with-blob {
    width: calc(50% - 45px);
}

.text-container__header {
    font-family: proxima-nova-condensed, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.text-container__header--center {
    margin: 0 auto;
}

.text-container__paragraph {
    font-size: 16px;
    line-height: 1.5;
}

.text-container__paragraph--center {
    margin: 0 auto;
}

.text-container__paragraph__signature {
    text-align: right;
    margin-top: -10px;
}

.text-container__button {
    border-radius: 30px;
    text-align: center;
    background: rgb(230, 0, 0);
    box-shadow: 3px 3px 6px 0px #bbbbbb;
    padding: 20px;
    width: 250px;
    /* For nettlesere uten fit-content (eks ie11) */
    width: fit-content;
    height: 60px;
    font-family: lato-bold, Arial, Helvetica, sans-serif;
    display: block;
    white-space: nowrap;
    text-decoration: none;
}

.text-container__button:link {
    color: white;
}

.text-container__button:visited {
    color: white;
}

.text-container__button:hover {
    box-shadow: 4px 4px 7px 0px #bbbbbb;
    color: white;
    background: rgb(238, 0, 0);
    padding: 20px 20px 21px 21px;
}

.text-container__button:active {
    background: rgb(153, 0, 0);
}

.text-container__button--center {
    margin: auto;
}

.text-container__button--footer {
    background: #eeeeee;
    box-shadow: 3px 3px 6px 0px rgb(153, 0, 0);
}

.text-container__button--footer:link {
    color: #cc0000;
}

.text-container__button--footer:visited {
    color: #cc0000;
}

.text-container__button--footer:hover {
    box-shadow: 4px 4px 7px 0px rgb(153, 0, 0);
    color: #cc0000;
    background: #ffffff;
    padding: 20px 20px 21px 21px;
}

.text-container__button--footer:active {
    background: #eeeeee;
}

.image-container {
    width: 50%;
    float: left;
    padding: 0px 50px 0px 0px;
}

.image-container--right {
    float: right;
    padding: 0px 0px 0px 50px;
    padding: 10%;
}

.image-container--power {
    margin-top: -30px;
}

.image-container__image {
    border: 1px solid rgb(230, 0, 0);
    box-shadow: 3px 3px 6px 0px #bbbbbb;
}

/*
.image-container__red-circle {
    width: 50%;
}
*/

.image-container__text {
    font-family: Lato-Bold, sans-serif;
    margin-left: 15px;
}

.background-image-container {
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-container--bilko {
    background-image: url(../img/Bilkø.png);
}

.background-image-container-city {
    background-image: url(../img/Bybilde.png);
}

.scroll-down-container {
    height: 50px;
    text-align: center;
}

/* Animation based on https://stackoverflow.com/a/32306141 */

@keyframes bounce {
    0%, 50% {
        transform: translateY(0) rotate(45deg);
    }
    25% {
        transform: translateY(-5px) rotate(45deg);
    }
}

.scroll-down-container__arrow {
    border: solid rgb(230, 0, 0);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    box-shadow: 2px 2px 2px 0px #bbbbbb;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 40px 40px;
    background-color: rgb(228, 0, 0);
    color: white;
}

.footer__text {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    /* overflow: auto; */
}

.footer__text--right {
    text-align: right;
}

.footer__text--center {
    text-align: center;
}

.footer__text__header {
    font-family: proxima-nova-condensed, Arial, Helvetica, sans-serif;
}

.footer__text__paragraph {
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 45px;
    }
    .top_p {
        font-size: 20px;
    }

    .header{
        height: 40px;
    }

    .row-top__content {
        background-image: none;
        display: flex;
        flex-direction: column;
    }

    .row-top__content--home {
        background-image: none;
        height: calc(100vh - 180px);
    }

    .row-top__car-train-image-container {
        display: block;
    }

    .row-top__car-train-image {
        height: 80px;
        object-fit: cover;
    }

    .row-top__phone-image {
        background-image: url(../img/App_homepage_mockup.png);
        flex: 1;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
    }

    .row-top__right-image-container {
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    .text-container {
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .text-container--with-blob {
        width: calc(100% - 45px);
    }

    .text-container__button {
        float: left;
    }

    .text-container__button--footer {
        float: none;
    }

    .image-container {
        width: 100%;
        padding: 0;
    }

    .image-container__red-circle {
        margin: auto;
    }

    .image-container__text {
        text-align: center;
        margin-left: 0px;
    }

    .header__logo {
        width: 80px;
    }
    @media only screen and (max-height: 400px) {
        .row-top__car-train-image {
            display: none;
        }
        .row-top__content--home {
            height: calc(100vh - 100px);
        }
        .row-top__phone-image {
            display: none;
        }
    }

    @media only screen and (max-width: 700px) {
        .footer__text {
            width: 100%;
            text-align: left;
        }

        .text-container__button--footer {
            margin: 0;
        }

        a.header__link {
            font-size: 17px;
        }
        .header__logo {
            width: 70px;
        }
        .header{
            height: 30px;
        }

        @media only screen and (max-width: 450px) {
            .row {
                padding: 25px 50px;
            }

            .row-top__content {
                padding: 0 50px;
            }

            .number-blob {
                display: none;
            }

            .text-container--with-blob {
                width: 100%;
            }
            .header__logo {
                width: 60px;
            }

        }
        a.header__link {
            padding: 10px 10px;
            font-size: 13px;
        }

        @media only screen and (max-height: 700px) {
            .row-top__phone-image {
                display: none;
            }
        }
        @media only screen and (max-width: 350px) {
            .row {
                padding: 25px 25px;
            }

            .row-top__content {
                padding: 0 25px;
            }

        }
        a.header__link {
            padding: 3px 3px;
            font-size: 12px;
        }

        .header__logo {
            width:50px;
        }
    }
}
@media only screen and (max-width: 320px) {
    a.header__link {
        padding: 0px 4px;
        font-size: 12px;
    }

    .header__logo {
        width:40px;
    }

    .header__link-container {
        text-align: center;
        margin-right: 30px;
    }
    .header{
        height: 25px;
    }
}

