
/* Fonts from https://fonts.google.com/specimen/Lato#standard-styles */

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
    font-family: lato-bold;
    src: url(../fonts/Lato-Bold.ttf);
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: lato-regular, Arial, Helvetica, sans-serif;
    overflow: auto;
}

h2{
    margin-top: 0;
}

img {
    width: 100%;
}

main {
    margin-top: 50px;
}

.header {
    background-color: white;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header__logo {
    width: 50px;
    float: left;
}

.header__link-container {
    text-align: center;
    margin-right: 50px;
}

.header__link {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.header__link:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header__link:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.header__link:hover {
    background-color: transparent;
    text-shadow: 2px 2px 5px;
    color: rgb(255, 0, 0);
}

.header__link:active {
    color: hotpink;
    background-color: transparent;
}

.footer{
    bottom: 0;
    width: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 0, 0);
    color: white;
}
