* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

a:link {
    color: hotpink;
    font-weight: bold;
}

a:visited {
    color: hotpink;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: hotpink;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: hotpink;
    background-color: transparent;
    text-decoration: underline;
}
.margin_top {
  margin-top: 50px;
}

.header {
    background-color: teal;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header__link-container {
    text-align: center;
    margin-right: 50px;
}

.header__link {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: hotpink;
    text-decoration: none;
}

.header__logo {
    width: 50px;
    float: left;
}

.header__link:hover {
    background: red;
    color: hotpink;
}
